name: video_editor
description: Video editor using flutter

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=2.18.2 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.2
  path_provider: ^2.0.12
  #ffmpeg_kit_flutter: ^5.1.0

  #To pick the video from mobile storage
  image_picker: ^0.8.6+1
  #To play the video
  video_player: ^2.5.1
  #To scale & rotate & drag the sticker
  # *Note that i have modified this package to do scaling and rotating and dragging as shown in the app
  matrix_gesture_detector:
    git:
      url: https://github.com/MahmoudNabil14/matrix_gesture_detector.git
  #To save the video with the sticker in its actual size and position on the video
  tapioca: ^1.0.6+1
  #To save the video in the gallery
  gallery_saver: ^2.3.2
  #To change sticker size too its actual size on the screen after scaling
  image: ^4.0.13

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/stickers/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
